[submodule "friendevent_backend"]
	path = friendevent_backend
	url = https://github.com/fredericBui/friendevent_backend.git
[submodule "friendevent_frontend"]
	path = friendevent_frontend
	url = https://github.com/fredericBui/friendevent_frontend.git
